{% extends "layout.html" %}

{% block content %}
<div class="max-w-3xl mx-auto pt-2 pb-12 px-4">
  <div class="max-w-xl mx-auto p-10 bg-base-100 shadow-2xl rounded-3xl border-t-4 border-error">
    <h1 class="text-3xl font-serif font-bold text-error mb-6 text-center">Entry Not Saved</h1>
    <p class="font-sans text-gray-600 leading-relaxed mb-4 text-center">
      We detected content that violates our Community Guidelines regarding
      <strong>hate speech or harassment</strong>.
    </p>
    <p class="font-sans text-gray-600 leading-relaxed text-center">
      <strong>Resonate</strong> is a safe space for self-reflection. We do not allow content that promotes violence or hatred against individuals or groups.
    </p>
    <a href="{{ url_for('main.profile') }}" class="btn btn-ghost bg-slate-600 hover:bg-slate-700 text-white rounded-xl mx-auto block mt-8 font-sans flex justify-center items-center text-center">Return to Profile</a>
  </div>
</div>
{% endblock %}
